In [1]:
import pandas as pd
from pandas.io.json import json_normalize
import json

In [2]:
movies = pd.read_csv('../data/tmdb_5000_movies.csv')

In [3]:
movies.shape

(4803, 20)

In [4]:
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [5]:
movies.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [6]:
movies['title'].head()

0                                      Avatar
1    Pirates of the Caribbean: At World's End
2                                     Spectre
3                       The Dark Knight Rises
4                                 John Carter
Name: title, dtype: object

In [7]:
movies['overview'].head()

0    In the 22nd century, a paraplegic Marine is di...
1    Captain Barbossa, long believed to be dead, ha...
2    A cryptic message from Bondâ€™s past sends him o...
3    Following the death of District Attorney Harve...
4    John Carter is a war-weary, former military ca...
Name: overview, dtype: object

In [8]:
movies['genres'][0]

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [9]:
def grab_top_genre(row):
    try:
        a_json = json.loads(row)
        df_json = json_normalize(a_json)
        top_genre = df_json.iloc[0,1]
    except:
        top_genre = 'Unknown'
    return top_genre

In [10]:
movies['top_genre']=movies['genres'].apply(grab_top_genre)

In [11]:
movies[['title', 'overview', 'top_genre', 'release_date']].sample(5)

,title,overview,top_genre,release_date
2329,Prom Night,Donna's senior prom is supposed to be the best...,Crime,2008-04-10
3675,Sling Blade,Karl Childers is a mentally disabled man who h...,Drama,1996-08-30
2166,To Die For,Susan wants to work in television and will the...,Fantasy,1995-05-20
3980,High Tension,Alexia travels with her friend Marie to spend ...,Horror,2003-06-18
1052,Training Day,On his first day on the job as a narcotics off...,Action,2001-10-05

In [12]:
movies['top_genre'].value_counts()

Drama              1207
Comedy             1042
Action              754
Adventure           339
Horror              300
Crime               195
Thriller            194
Animation           123
Fantasy             117
Romance             106
Science Fiction      96
Documentary          89
Family               56
Mystery              41
Music                34
Unknown              28
Western              27
History              25
War                  24
TV Movie              4
Foreign               2
Name: top_genre, dtype: int64

In [13]:
movies['release_date'].dtype

dtype('O')

In [14]:
print(movies['release_date'].isnull().sum())
print(movies.shape)
movies=movies.dropna(subset=['release_date'])
print(movies.shape)
movies['year']=pd.to_datetime(movies['release_date']).dt.year
movies.head(2)

1
(4803, 21)
(4802, 21)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,top_genre,year
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Action,2009
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Adventure,2007

In [15]:
movies[['title', 'overview', 'top_genre', 'year']].sample(5)

,title,overview,top_genre,year
3691,Treading Water,"At first glance, Mica seems a perfectly normal...",Drama,2013
3143,You Only Live Twice,A mysterious space craft kidnaps a Russian and...,Action,1967
1044,Journey to the Center of the Earth,On a quest to find out what happened to his mi...,Action,2008
1682,Sausage Party,"Sausage Party, the first R-rated CG animated m...",Adventure,2016
1786,Flatliners,Five medical students want to find out if ther...,Drama,1990

In [16]:
print(movies['original_language'].value_counts().head(10))
print(movies.shape)
movies=movies.loc[movies['original_language']=='en']
print(movies.shape)

en    4504
fr      70
es      32
de      27
zh      27
hi      19
ja      16
it      14
cn      12
ko      11
Name: original_language, dtype: int64
(4802, 22)
(4504, 22)

In [17]:
print(movies['year'].describe())

count    4504.000000
mean     2002.340586
std        12.411369
min      1916.000000
25%      1999.000000
50%      2005.000000
75%      2011.000000
max      2017.000000
Name: year, dtype: float64

In [18]:
print(movies.shape)
movies=movies.loc[movies['year']>=1999]
print(movies.shape)

(4504, 22)
(3410, 22)

In [19]:
movies.to_csv('../data/tmdb_movie_plots.csv', index=False)